@charset 'utf-8';

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
main {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
}
abbr[title] {
  border-bottom: none;
  -webkit-text-decoration: underline;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details {
  display: block;
}
summary {
  display: -webkit-box;
  display: -webkit-list-item;
  display: -ms-list-itembox;
  display: list-item;
}
template {
  display: none;
}
[hidden] {
  display: none;
}

body {
  font-family: "SF Pro KR", "SF Pro Display", "SF Pro Icons", -apple-system,
    BlinkMacSystemFont, "Basier Square", "Apple SD Gothic Neo", Roboto,
    "Noto Sans KR", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #ffffff;
  background-color: black;
}
.p-toast-container {
  top: 20px;
  z-index: 20;
}

body,
html {
  font-family: Toss Product Sans, Tossface, -apple-system, BlinkMacSystemFont,
    Bazier Square, Noto Sans KR, Segoe UI, Apple SD Gothic Neo, Roboto,
    Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol, Noto Color Emoji;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  word-break: keep-all;
  word-wrap: break-word;
}

*,
::after,
::before {
  box-sizing: border-box;
}

button:disabled,
input:disabled {
  cursor: not-allowed;
}

button,
input,
textarea {
  font-family: Toss Product Sans, Tossface, -apple-system, BlinkMacSystemFont,
    Bazier Square, Noto Sans KR, Segoe UI, Apple SD Gothic Neo, Roboto,
    Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol, Noto Color Emoji;
}

.padding--base {
  padding: 11px 16px;
}
.padding--t {
  padding: 4px 8px;
}
.padding--s {
  padding: 7px 12px;
}
.padding--l {
  padding: 11px 22px;
}
.padding-xl {
  padding: 18px 24px;
}
.radius--s {
  border-radius: 4px;
}
.radius--m {
  border-radius: 8px;
}
.radius--l {
  border-radius: 16px;
}
.radius--xl {
  border-radius: 16px;
}
.radius--xxl {
  border-radius: 24px;
}
.shadow--s {
  box-shadow: 0 0 4px 0 rgba(2, 32, 71, 0.05),
    0 4px 16px 0 rgba(2, 32, 71, 0.05);
}
.shadow--m {
  box-shadow: 0 8px 16px 0 rgba(0, 27, 55, 0.1),
    0 4px 8px 0 rgba(2, 32, 71, 0.05);
}
.shadow--l {
  box-shadow: 0 24px 40px 0 rgba(0, 23, 51, 0.02),
    0 16px 24px 0 rgba(0, 27, 55, 0.1), 0 0 8px 0 rgba(2, 32, 71, 0.05);
}
.text--left {
  text-align: left;
}
.text--right {
  text-align: right;
}
.text--center {
  text-align: center;
}
.text--justify {
  text-align: justify;
}
.typography {
  margin: 0;
  padding: 0;
}
.typography--h1,
.typography--h2,
.typography--h3,
.typography--h4 {
  line-height: 1.3;
}
.typography--h1 {
  font-size: 56px;
}
.typography--h2 {
  font-size: 48px;
}
.typography--h3 {
  font-size: 36px;
}
.typography--h4 {
  font-size: 32px;
}
.typography--h5,
.typography--h6,
.typography--h7,
.typography--p,
.typography--sm,
.typography--small,
.typography--xsmall {
  line-height: 1.6;
}
.typography--h5 {
  font-size: 24px;
}
.typography--h6 {
  font-size: 20px;
}
.typography--h7 {
  font-size: 17px;
}
.typography--p {
  font-size: 15px;
}
.typography--sm {
  font-size: 13px;
}
.typography--small {
  font-size: 13px;
}
.typography--xsmall {
  font-size: 11px;
}
.typography--bold {
  font-weight: 700;
}
.typography--semibold {
  font-weight: 600;
}
.typography--medium {
  font-weight: 500;
}
.typography--regular {
  font-weight: 400;
}
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.reset-button {
  background: none;
  border: 0;
  padding: 0;
  outline: none;
  cursor: pointer;
}
.flex-center-all {
  display: flex;
  justify-content: center;
  align-items: center;
}
.reset-anchor {
  text-decoration: none;
}
@media (max-width: 639px) {
  .deskto-only {
    display: none !important;
  }
}
@media (min-width: 640px) {
  .mobile-only {
    display: none !important;
  }
}
.p-accordion {
  width: 100%;
}
.p-accordion__item--with-bottom-divider
  + .p-accordion__item--with-bottom-divider::before {
  content: "";
  border-top: 1px solid rgba(0, 27, 55, 0.1);
  display: block;
}
.p-accordion__item {
  width: 100%;
  overflow: hidden;
  background: #fff;
}
.p-accordion__item[focus-within] {
  outline-offset: -2px;
  outline: 2px solid #64a8ff;
}
.p-accordion__item:focus-within {
  outline-offset: -2px;
  outline: 2px solid #64a8ff;
}
