@charset "utf-8";

.tossteam-react__wrapper {
  position: relative;
  overflow: hidden;
}

.tossteam-react__fallback-poster {
  position: absolute;
  left: 0;
  right: 0;
  display: block;
  width: 100%;
}

.tossteam-react__fallback-poster__enabled {
  z-index: -1;
}

.tossteam-react__video {
  display: block;
  width: 100%;
  height: 100%;
  mask-image: -webkit-radial-gradient(white, black);
  backface-visibility: hidden;
}
